<header class="main-header">
  <div class="header-content">
    <a href="index.html" class="site-logo">
      <img
        class="site-logo__img"
        src="assets/images/logo-yellow.svg"
        alt="Logo DNA Academy"
      >
      <span span class="site-logo__text">DNA Academy</span>
    </a>

    <button class="hamburger" aria-label="Toggle navigation">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </button>

    <nav class="main-nav">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="characters.html">Characters</a></li>
        <li><a href="weapons.html">Weapons</a></li>
        <li><a href="tierlist.html">Tier List</a></li>

        <li id="nav-login-item"><a href="login.html">Login</a></li>
        <li id="nav-register-item"><a href="register.html">Register</a></li>

        <li id="nav-admin-item"><a href="admin.html">Admin</a></li>

        <li id="nav-logout-item" class="nav-logout">
          <a href="#" id="nav-logout-link">Logout</a>
          <span id="nav-username" class="nav-username"></span>
        </li>
      </ul>
    </nav>
  </div>
</header>